.app-header{
  background-color: #EEEEEE;
  height: 4vw;
  margin-top: -1.8vw;
  position: fixed;
  width: 99%;
  display: flex;
  flex-direction: row;
}

p#topbar-company-name{
  font-size: 2vw;
  padding: 1vw;
  margin-top: 0.2vw;
}

.topbar-options{
	background-color: #EEEEEE;
	padding: none;
	width: 35%;
	display: flex;
	font-family: Sans-serif;
	margin-left: 46vw;
  justify-content: space-between;
  margin-top: 1.8vw;
}

.topbar-sub-options{
  padding-left: 2vw;
}

.topbar-sub-options:hover{
  cursor: pointer;
  color: #1976D2;
}

button#topbar-login-button{
  margin-top: -0.4vw;
  color: #1976D2;
  width: 6vw;
  height: 2vw;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #1976D2;
  border-radius: 3px;
}

button#topbar-login-button:hover{
  color: white;
  background-color: #1976D2;
}

.pricing-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h4#pricing{
  margin-top: 6%;
  margin-left: 45%;
  font-size: 3.5vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
}

.heading{
  display: flex;
}

.price-desc{
  align-content: center;
  color: gray;
  margin-top: -6vw;
  margin-left: 17vw;
}

.pricing-desc-div{
  margin-left: -20%;
  height: 15vw;
  margin-top: -8%;
  text-align: center;
}

.plan-window {
  width: 60vw;
  height: 25vw;
  font-family: 'Roboto', sans-serif;
  color: rgb(71, 71, 71);
  box-shadow: 0px 1px 0px 0px lightslategray;
  margin-right: 10px;
  display: flex;
  margin-left: 18%;
  margin-top: -15%;
}

.plan-window-size{
  width: 15vw;
  text-align: center;
  margin-left: 7%;
  border-color: black;
}

.plan-window-size:hover {
  width: 15vw;
  margin-top: -5%;
  height: 155%;
  font-family: 'Roboto', sans-serif;
}

.plan-window-Top-Portion{
  background-color:#EEEEEE;
  font-size: 1.2rem;
  padding-top: 1vw;
  height: 8%;
  width: 99%;
margin-bottom: -1.7vw;
}

.plan-window-Top-Portion1{
  background-color:#EEEEEE;
  font-size: 0.8rem;
  height: 8%;
  width: 99%;
margin-bottom: -2vw;
}

.plan-window--AmountSection{
  font-size: 2rem;
  padding-right: 1px;
  line-height:3rem;
}

.plan-window--AmountSection span{
  font-size: 1rem;
  padding-left: 1px;;
}

.plan-window-Description{
  line-height:1.7rem;
  font-size: .8rem;
  margin-top: -18%;
}

.plan-window-Subscription{
  height: 35px;
  position: relative;
  top:8px;
}

.plan-window-Subscription button{
  width: 95%;
  font-family: 'Roboto', sans-serif;
  color: #1976D2;
  border: 1px solid #1976D2;
  border-radius: 4px;
  height: 100%;
background-color: white;
}

.plan-window-Subscription button:hover{
  width: 95%;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-color: #1976D2;
  color:#EEEEEE;
  border: none;
  border-radius: 4px;
  height: 100%;
}

li{
  list-style: none;
  justify-content: space-between;
}

.about{
  width: 75%;
  margin:auto;
  border-top: lightgray 1px solid;
  padding: 3em 0em;
}

.about-options{
  width: 116%;
  display: flex;
  align-items: flex-start;
  margin: auto;
}

.about-menu{
  width: inherit;
}

.about-menu-heading{
  font-size: 1em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.about-sub-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
  padding: 1em 0em;
}

.about-sub-menu-list{
  background: none;
  border: none;
  color: grey;
  padding: 0.35em 0em;
  cursor: pointer;
}

.about-info{
  display: flex;
  justify-content: center;
  padding: 2em 0em;
  color: grey;
  font-size: 0.9em;
}

.user-table{
  padding-top: 18%;
  justify-content: space-around;
}

.table{
  display: flex;
  flex-direction: column;
}

.table1{
  outline: thin solid lightgrey;
}

td,
th {
    font-family: sans-serif;
    text-align: left;
    width: 14.28vw;
    text-align: center;
}

.table-row{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

td#table-status{
  margin-left: 6%;
}

td#table-role{
  margin-left: 2%;
}

td#table-login{
  margin-left: 1%;
}

.header{
  display: flex;
}

li#header-list{
  margin-left: 30px;
  color: black;
}

li#header-list:hover{
  cursor: pointer;
  color: #1976D2;
}

.buttons{
  display: flex;
  float: right;
  margin-top: -15vw;
  flex-direction: column;
}

.user-button{
  width: 7vw;
  margin-bottom: 1vw;
  font-family: 'Roboto', sans-serif;
  color: #1976D2;
  border: 1px solid #1976D2;
  border-radius: 4px;
  background-color: white;
  padding: 3%;
}

.user-button:hover{
  background-color: #1976D2;
  color:#EEEEEE;
  border: none;
  border-radius: 4px;
}